{% extends "base.html" %}
{% block title %} Product {% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
  <li class="breadcrumb-item active">Product ASIN {{ product[0] }}</li>
</ol>

<div id="productDescription">
<img class="rounded mx-auto d-block" src="{{ product[3] }}">

<h2>{{ product[5] }} <small>${{ product[4] }} <span class="fa fa-star checked"></span> {{ product[7] }}</small></h2>

{#
<p class="text-viewer">
{{ product[2] }}
</p>
</div>
#}
<div class="container">
	<div class="row">
		<div class="col-md-6">
<div>
    <canvas id="canvasTopic" height=130></canvas>
</div>
		</div>
		<div class="col-md-6">
<div>
    <canvas id="canvasTime" height=130></canvas>
</div>
		</div>
	</div>
</div>
	


<h3>Reviews</h3>

<div id="reviews">


<form class="form" method="get" action="/products/{{ product[0] }}">
  <div class="form-row">
    <div class="col col-sm-8">
        <label for="q" class="sr-only">Reviews search query</label>
        <input type="text" class="form-control" id="q" name="q" value="{{ q }}" placeholder="Reviews search query">
    </div>
    <div class="col col-sm-2">
        <select class="form-control" name="topic">
            <option value=''>Any Topic</option>
            {% for t in topic_names %}
            <option {% if topic == t %}selected{% endif %} value="{{ t }}">
                {{ t }}
            </option>
            {% endfor %}
        </select>
    </div>
      <div class="col col-sm-2">
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span> Search
        </button>
      </div>
  </div>
</form>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Postive</h4>
<ul class="list-unstyled">    
{% for review in reviews_best %}
<li>

{% for i in range(review[2]|int) %}
<span class="fa fa-star checked"></span>
{% endfor %}

{% for i in range((5 - review[2])|int) %}
<span class="fa fa-star"></span>
{% endfor %}

<strong>{{ review[4] }}</strong>
<small>{{ review[5] }}</small>
<p class="text-viewer">
{{ review[3] }}
</p>
</li>
{% endfor %}
<ul>

        </div>
        <div class="col-md-6">
<h4>Negative</h4>
        
<ul class="list-unstyled">    
{% for review in reviews_worst %}
<li>

{% for i in range(review[2]|int) %}
<span class="fa fa-star checked"></span>
{% endfor %}

{% for i in range((5 - review[2])|int) %}
<span class="fa fa-star"></span>
{% endfor %}

<strong>{{ review[4] }}</strong>
<small>{{ review[5] }}</small>
<p class="text-viewer">
{{ review[3] }}
</p>
</li>
{% endfor %}
<ul>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

window.chartColors = {
	red: 'rgb(255, 99, 132)',
	green: 'rgb(75, 192, 192)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

var topicDistribution =  {{ topics_sentiment | tojson | safe }}
var topicDataset = {};
var topics = [];
var color = 0;

for (let topic of topicDistribution) {
	let name = topic[0];
	let sentiment = topic[1] == 0 ? 'negative' : 'positive';
	let value = topic[2];

	if ($.inArray(name, topics) == -1) {
		topics.push(name);
	}

	if (!(sentiment in topicDataset)) {
		topicDataset[sentiment] = {
			label: sentiment,
			backgroundColor: Object.values(window.chartColors)[color],
			data: []
		};
		color++;
	}

	topicDataset[sentiment]['data'][topics.indexOf(name)] = value;
}

var topicBarChartData = {
	labels: topics,
	datasets: Object.values(topicDataset)
};

$(function() {
	var that = this;
	var ctx = $('#canvasTopic')[0].getContext('2d');
	that.topicChart = new Chart(ctx, {
		type: 'horizontalBar',
		data: topicBarChartData,
		options: {
			title: {
				display: false,
				text: 'Reviews Topics'
			},
			tooltips: {
				mode: 'index',
				intersect: false
			},
			options: {
				maintainAspectRatio: false,
			},
			animation: false,
			responsive: true,
			scales: {
				xAxes: [{
					stacked: true,
				}],
				yAxes: [{
					stacked: true
				}]
			}
		}
	});
});

var reviewsTime =  {{ reviews_time | tojson | safe }}
var timeDataset = {};
var times = [];
var color = 0;

for (let t of reviewsTime) {
	let name = t[1];
	let sentiment = t[0] == 0 ? 'negative' : 'positive';
	let value = t[2];

	if ($.inArray(name, times) == -1) {
		times.push(name);
	}

	if (!(sentiment in timeDataset)) {
		timeDataset[sentiment] = {
			label: sentiment,
			backgroundColor: Object.values(window.chartColors)[color],
			data: []
		};
		color++;
	}

	timeDataset[sentiment]['data'][times.indexOf(name)] = value;
}

var barChartData1 = {
	labels: times,
	datasets: Object.values(timeDataset)
};

$(function() {
	var that = this;
	var ctx = $('#canvasTime')[0].getContext('2d');
	that.timeChart = new Chart(ctx, {
		type: 'bar',
		data: barChartData1,
		options: {
			title: {
				display: false,
				text: 'Reviews Time'
			},
			tooltips: {
				mode: 'index',
				intersect: false
			},
			options: {
				maintainAspectRatio: false,
			},
			animation: false,
			responsive: true,
			scales: {
				xAxes: [{
					stacked: true,
				}],
				yAxes: [{
					stacked: true
				}]
			}
		}
	});
});
</script>

{% endblock %}

