{% extends "base.html" %}
{% block title %} Talk {% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">Talk</li>
</ol>

<iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vRSuqokm-tyYaiPAadFoOyShiEy326WVdo95SrXfv0g8zPkFxbFpWMdH_yIw5pLvyG3nh1bYFyUPucT/embed?start=false&loop=false&delayms=60000"
    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
                                                                    webkitallowfullscreen="true"></iframe>


{% endblock %}

